.input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ffffff24;
  background-color: inherit;
  color: #fff;
  font-family: 'DM Sans';
  &:focus,
  &:active {
    outline: 1px solid white;
  }
}

.input-xs {
  padding: 6px 10px;
  font-size: 12px;
}

.input-sm {
  padding: 8px 12px;
  font-size: 14px;
}
.input-md {
  padding: 10px 14px;
  font-size: 16px;
}
.input-lg {
  padding: 12px 16px;
  font-size: 18px;
}
