.button {
  border: 0;
  cursor: pointer;
  font-family: 'DM Sans';
  border-radius: 5px;
  line-height: 1;
}

.button-primary {
  color: #fff;
  background-color: #006bce;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 300ms linear;
  background-color: #006bce;
}

.button-primary:hover {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: #2e9aff;
}

.button-primary:focus {
  outline: 1px solid #004d95;
}

.button-secondary {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: inherit;
  border: 1px solid rgb(153, 153, 153);
}

.button-secondary:hover {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: #bbbbbb;
}

.button-secondary:focus {
  outline: 1px solid #414141;
}

.button-danger {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 300ms linear;
  background-color: #b00000;
  color: #fff;
}

.button-danger:hover {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 300ms linear;
  background-color: #ee0000;
  color: #fff;
}
.button-danger:focus {
  outline: 1px solid #b90000;
}

.button-success {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 300ms linear;
  background-color: #00d636;
  color: #fff;
}
.button-success:hover {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 300ms linear;
  background-color: #00ff40;
  color: #fff;
}
.button-success:focus {
  outline: 1px solid rgb(0, 179, 110);
}
.button-xs {
  padding: 10px 21px;
  font-size: 12px;
}

.button-sm {
  padding: 11px 23px;
  font-size: 14px;
}

.button-md {
  padding: 12px 25px;
  font-size: 16px;
}

.button-lg {
  padding: 13px 27px;
  font-size: 19px;
}
